<footer>
    <div class="container">
        <p>&copy; <span id="currentYear"></span> Trusponse. All rights reserved.</p>
    </div>
</footer>

<script>
    document.getElementById('currentYear').textContent = new Date().getFullYear();
</script>
<script src="/js/script.js"></script>